/* 
 * Pixel Ponies - Modular CSS
 * Import all component stylesheets
 */

@import url('./styles/base.css');
@import url('./styles/wallet.css');
@import url('./styles/racing.css');
@import url('./styles/betting.css');
@import url('./styles/jackpot.css');